.floatingDiv {
  justify-content: space-around;
  background-image: linear-gradient(
    30deg,
    rgba(202, 182, 182, 0.522) 15%,
    #dce96a 59%
  );

  box-shadow: 7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34);
  transition: opacity 1.125s ease 0.5s, transform 1.125s ease 0.5s;
  border-radius: 17px;
  display: flex;
  font-weight: bold;
  align-items: center;
  padding: 0px 28px 0px 0px;
  height: 4.5rem;
}
.floatingDiv > img {
  transform: scale(0.4);
}
.floatingDiv > span {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  /* yahan ye color add kia hy bad mein dark mode k waqt */
  color: black;
}
